
html,
body {
    height: 100%;
}

.main-div {
    min-height: 50%;
}

.btn-xlg {
    padding: 1rem 1.5rem !important;
    font-size: 2rem !important;
    line-height: 2 !important;
    border-radius: .3rem !important;
}

.practice-session-row {
    cursor: pointer;
}