{% extends "base.html" %}
{% block content %}
    <div class="container h-100">
        <div class="row" style="margin-top: 2rem; margin-bottom: 4rem">
            <div class="col col-md-10">
                <h2>Practice Metrics</h2>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col text-center col-md-4">
                <h2 id="totaltime">0</h2>
                <h4>Total Time</h4>
            </div>
        </div>
        <div class="row justify-content-center text-center mb-4">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="today" autocomplete="off" checked> Today
                </label>
                <label class="btn btn-outline-dark active">
                    <input type="radio" name="options" id="this-week" autocomplete="off" checked> This Week
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="this-month" autocomplete="off"> This Month
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="this-year" autocomplete="off"> This Year
                </label>
            </div>
        </div>
        <div class="row mb-4">
            <label for="session-start" class="col-md-2 col-form-label">Start Time</label>
            <div class="col-md-4">
                <div class="input-group date" id="session-start-picker"
                     data-target-input="nearest">
                    <input id="session-start"
                           type="text"
                           class="form-control datetimepicker-input"
                           data-target="#session-start-picker"/>
                    <div class="input-group-append" data-target="#session-start-picker"
                         data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>

            <label for="session-stop" class="col-md-2 col-form-label">Stop Time</label>
            <div class="col-md-4">
                <div class="input-group date" id="session-stop-picker"
                     data-target-input="nearest">
                    <input id="session-stop" type="text"
                           class="form-control datetimepicker-input"
                           data-target="#session-stop-picker"/>
                    <div class="input-group-append" data-target="#session-stop-picker"
                         data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-div">
            <div id="data-chart-container" class="col-12">
                <canvas id="data-chart" height="100%" width="100%"></canvas>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}