{% extends "base.html" %}
{% block content %}
    <div class="container h-100">
        <div {% if current_session %}style="display: none"{% endif %} id="session-start-content"
             class="row justify-content-center align-items-center main-div mx-auto">
            <button type="button" id="session-start" class="btn btn-success"
                    style="font-size: 2rem;min-height: 10rem;min-width: 20rem;">
                Start Session
            </button>
        </div>
        <div {% if current_session is defined %}data-id={{ current_session.id }} data-start="{{ current_session.start }}"
             {% else %}style="display: none"{% endif %} id="session-stop-content"
             class="row justify-content-center align-items-center main-div mx-auto">
            <div class="card" style="min-width: 22rem;">
                <div class="card-body">
                    <h5 id="counter" class="card-title">00:00:00</h5>
                    <button type="button" id="session-stop" class="btn btn-danger"
                            style="font-size: 2rem;min-height: 10rem;min-width: 20rem;">
                        Stop Session
                    </button>
                </div>
            </div>
        </div>
        <div style="display: none" id="session-send-content"
             class="row justify-content-center align-items-center main-div mx-auto">
            <div class="card" style="min-width: 22rem">
                <div class="card-body">
                    <form id="submit-content" method="post" >

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}